<app-header></app-header>

<!-- Begin page content -->
<main class="flex-shrink-0" style="min-height: 100vh; padding-top: 60px; padding-bottom: 60px;">
  <div class="container">
    <router-outlet></router-outlet> 
  </div>
</main>

<app-footer></app-footer>