<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white">
          <div class="card-body p-5">
            <form class="mb-3 mt-md-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <h2 class="fw-bold mb-2 text-uppercase ">Login</h2>
              <p class=" mb-5">Use user/user or admin/admin accounts</p>
              <div class="mb-3">
                <label for="username" class="form-label ">Username</label>
                <input type="text" class="form-control" id="username" placeholder="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors['required']">Username is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label ">Password</label>
                <input type="password" class="form-control" id="password" placeholder="*******" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" [disabled]="loading">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>