<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">Brahim Bouali sf5-ng14-demo copyrights @{{ currentDate | date: 'yyyy' }}</span>
  </div>
</footer>
