<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">sf4-ng14-demo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li *ngxPermissionsOnly="['ROLE_USER']" class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li *ngxPermissionsOnly="['ROLE_ADMIN']" class="nav-item">
            <a class="nav-link" routerLink="/admin">Admin</a>
          </li>
        </ul>
        <form class="d-flex">
          <button *ngIf="!authService.isLoggedIn" class="btn btn-outline-success" routerLink="/login">Login</button>
          <button *ngIf="authService.isLoggedIn" class="btn btn-outline-success" (click)="logout()">Logout</button>
        </form>
      </div>
    </div>
  </nav>
</header>